.container {
    display: flex;
}

.sigilSlotsContainer {
    display: flex;
    flex-direction: column;
}


.sigilListContainer {
    flex-direction: column;
    overflow: scroll;
    max-height: 100vh;
}
