.container {
    border: 1px solid rgb(235, 235, 235);
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.container > h3 {
    margin: 0 0 .5rem 0;
}

.container > h4 {
    margin: 0 0 .75rem 0;
}

.container > p {
    margin: 0;
}